body{
    margin: auto;
    width: 600px;
    padding: 50px;
}

.container_botao{
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: content-box;
    width: 400px;
    height: 100px;
}

.botao_legal{
    background-color: rgb(144, 11, 129);
    border-radius: 10px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}