/*Variáveis */

body{
    background-color: #cdcdcd;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a{
    color: #fcfffc;
    text-decoration: underline;
}

/* pseudo classe*/
a:hover{
    color: #d81a99;
}

header{
    background-color: #ff2600;
    color:#fff;
    padding: 10px 20px;
}

nav{
    background-color: #0d9a7b;
    float: left;
    width: 100%;
    padding: 10px;
}

nav ul{
    list-style: none;
    margin-bottom: 0px;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

nav ul li a{
    padding: 5px 10px;
}

nav ul li a:hover{
    color: #171717;
}

section{
    background-color: #0821a0;
    border: 1px solid #e0e0e0;
    padding: 20px;
}

section img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
}

.sec-import {
    background-color: #0e94cd;
}

aside{
    background-color: #cb1081;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    float: right;
    width: 25%;
}

aside a{
    color: #0821a0;
}

aside a:hover{
    color: #02092f;
}


footer{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

ul li{
    list-style-type: circle;
    color: #ffffff;
}

ol li{
    color: #ffffff;
}

pre{
    background-color: #e0e0e0;
    color: #e0e0e0;
    width: 100%;
}

img{
    display: block;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    max-width: 100%;
    height: auto;
    text-align: center;
}

figure figcaption{
    text-align: center;
}

table{
    border: 1px solid black;
}

table tr{
    align-content: center;
}